:root {
    --color1: "#E0201C",
        --color2: "#E0201C",
}

body {
    margin: 0;
    background-color: rgba(242, 242, 242, 1);
}

@font-face {
    font-family: 'bebas';
    src: url('../Fonts/Bebas-Regular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../Fonts/Poppins-Regular.ttf');
}

body {
    font-family: 'poppins' !important;
}

.App {
    position: relative;
}


.Mobile-Navbar {
    display: none;
    justify-content: space-between;
    padding: 5% 4%;
    align-items: center;
}

@media (max-width:767px) {
    .Mobile-Navbar {
        display: flex !important;
    }

    .NavMainHolder {
        display: none !important;
    }

    .MobileNavbarHolder {
        display: block !important;
    }


}

.MobileNavbarHolder {
    display: none;
}


.Mobile-nav-logo {
    width: 30%;
}

.Mobile-nav-logo img {
    width: 100%;
}

.DropDown-nav {
    display: none;
    z-index: 5;
    width: 82%;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    margin-inline: 4%;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.253);

}

.margin-top-10 {
    margin-top: 10%;
}

.width-100 {
    width: 100% !important;
}

.DropDown-nav div p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
}

.DropDown-nav div p:active {
    color: #E0201C;
}


.NavMainHolder {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
}

.HeaderLogoDiv {
    display: flex;
    justify-content: center;
    width: 100px;
    align-items: center;
}

.HeaderLogoDiv img {
    width: 100%;
}

.HeaderItemsHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.HeaderItemsHolder p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-inline: 10px;
    font-size: 14px;
    font-family: 'poppins';
    font-weight: 500;
}

.NavMain {
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ButtonLogin {
    padding: 8px 16px;
    border: 2px solid black;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: 'poppins';
}

.NavtoolsDiv {
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavtoolsDiv * {
    margin-inline: 5%;
}

.section1 {
    padding: 13% 2% 10% 2% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.redColor {
    color: #E0201C;
}

.section1-inner1 {
    padding-inline: 5%;
    flex: 1;
    margin-top: 2%;
}

.section1-inner1 p {

    width: 65% !important;
    line-height: 60px;
}

@media(max-width:767px) {
    .section1-inner1 p {
        width: 100% !important;
        text-align: center;
    }

    .SignupBtnArea {
        justify-content: center;
        margin-bottom: 20%;
    }

    .section2-r1-c1 {
        margin: 10% auto;
        text-align: center;
    }

    .section2-r1-c2 {
        margin-inline: auto;
    }

    .CommaIcon {
        margin: 5% auto;
    }

    .Testimonial-controls {
        width: 100%;
    }

    .Testimonial-arrows {
        width: 30%;
    }
}

.NavtoolsDiv * {
    cursor: pointer;
}

.section1-inner2 {
    padding-inline: 5%;
    flex: 1;
    min-width: 280px;
}

.section1-inner1 {
    font-size: 60px;
    font-weight: 400;
}

.SignupBtnArea {
    display: flex;
    align-items: center;
    margin-top: 15%;
    cursor: pointer;
}

.Signuptxt {
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 500;
    margin-right: 20px;
    color: rgba(43, 43, 43, 1);
}

.SignUpBtn {
    background-color: #E0201C;
    border-radius: 50px;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.SocialIconsTab {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 5px 5px 5px 10px;
    border-radius: 10px 0 0 10px;
    background-color: #E0201C;
}

.SocialIconsInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SocialIconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 20px;
    cursor: pointer;
}

.SocialIconDiv img {
    width: 100%;
}

.section2 {
    background-color: white;
    padding: 3% 5%;

}

.section2-r1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.section2-r1-c1 {
    color: rgba(43, 43, 43, 1);
    font-family: 'bebas';
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
}

.section2-r1-c2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 500;
    color: rgba(165, 165, 165, 1);
}

.section2-r1-c2 div {
    margin-inline: 10px;
    cursor: pointer;
}

.section2-r1-c2-active {
    color: rgba(62, 62, 62, 1) !important;
    position: relative;
}

.redDot {
    position: absolute;
    width: 8px !important;
    top: -12px;
    right: -15px;
}

.redDot img {
    width: 100%;
}

.CardsArea {
    padding: 5% 0;
}

.font-bebas {
    font-family: 'bebas' !important;
}

.CardsHolder {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

.Card {
    width: 220px;
    height: auto;
    margin: 15px 20px;
    position: relative;
}

.show {
    display: block !important;
}

.SoldTag {
    z-index: 1;
    display: none;
    background-color: #E0201C;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'poppins';
    position: absolute;
    top: 15px;
    left: 0;
}

.CardInner {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 10px;
    padding: 20px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
}

.CardImgHolder {
    width: 100px;
    margin-inline: auto;
}

.CardImgHolder img {
    width: 100%;
}

.ItemTitle {
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 500;
    text-align: center;
    margin: 2px 0;
}

.ItemDesc {
    display: none;
    font-size: 10px;
    font-family: 'poppins';
    font-weight: 500;
    text-align: center;
    margin: 2px 0;

}

.CardRating {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.starHolder {
    margin-inline: 3px;
    width: 15px;
    display: flex;
}

.starHolder img {
    width: 100%;
}

.Card:hover .HoverOnCard {
    /* display: flex; */
    opacity: 1;
}

.HoverOnCard {
    z-index: 2;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out !important;
    background-color: rgba(255, 255, 255, 0.8);
}

.HoverOnCardR1 {
    margin-top: 3%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.discountbox {
    padding: 4px 8px;
    font-size: 12px;
    font-family: 'poppins';
    font-weight: 500;
    color: white;
    background-color: rgba(62, 62, 62, 1);
}

.HeartHolder {
    width: 20px;
    margin-inline: 10px;
    cursor: pointer;

}

.HeartHolder img {
    width: 100%;
}

.HoverOnCardR2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.BtnHolderCardHover {
    margin-top: 2%;
    border-radius: 30px;
    padding: 3px;
    width: 60%;
    border: 2px dashed rgba(224, 32, 28, 1);
}

.BtnHolderCardHoverInner {
    cursor: pointer;
    border-radius: 15px;
    padding: 2px 20px;
    text-align: center;
    background-color: rgba(62, 62, 62, 1);
    color: white;
    font-size: 14px;
    font-family: 'poppins';


}

.HoverOnCardR3 {
    margin-bottom: 3%;
    display: flex;
    width: 80%;

    justify-content: center;
    margin-inline: auto;
}

.HoverOnCardR3 div {
    margin-inline: 2px;
}

.cardHoverQuantity {
    background-color: white;
    border: 1px solid rgba(62, 62, 62, 1);
    border-radius: 5px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'poppins'
}

.cardHoverCartBtn {
    display: flex;
    align-items: center;
    background-color: #E0201C;
    color: white;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.See-more-btn {
    background-color: #E0201C;
    border-radius: 25px;
    padding: 8px 16px;
    text-align: center;
    margin: 4% auto 0 auto !important;
    color: white;
    font-weight: 500;
    font-size: 16px;
    width: max-content;
    border: none;
    font-family: 'poppins';
    cursor: pointer;
}

.bg-black {
    background-color: #2B2B2B !important;
}

.show {
    display: block !important;
}

.showFlex {
    display: flex !important;
}

.hide {
    display: none !important;
}

.margin-bottom-30 {
    margin-bottom: 30% !important;
}

.red {
    color: #E0201C !important;
}

.white {
    color: white;
}

.Testimonial-section {
    padding: 8% 12%;
    background-color: white;
}

.Testimonial-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.Testimonial-heading {
    margin: 0 auto 3% auto !important;
}

.Testimonial-txt1 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.Testimonial-txt2 {
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    font-family: 'bebas';
}

.Testimonial-left-section {
    flex: 1;
    min-width: 280px;
}

.testimonial-image {
    width: 80%;
    margin-inline: auto !important;
}

.testimonial-image img {
    width: 100%;
}

.Testimonial-right-section {
    flex: 1;
    min-width: 280px;

}

.CommaIcon {
    width: 25%;
}

.CommaIcon img {
    width: 100%;
}

.Testimonial-text {
    font-size: 18px;
    font-weight: 500;
    color: #8D8D8D;
    margin-top: 3%;
}

.Testimonial-wroteBy {
    font-weight: 700;
    font-size: 20px;
    color: #2B2B2B;
}

.Testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Testimonial-controls {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 5%;
}

.testimonial-tab {
    width: 35px !important;
    cursor: pointer;
}

.testimonial-tab img {
    width: 100%;
}

.Testimonial-arrows {
    display: flex;
    justify-content: space-between;
    width: 16%;
    margin-top: 4%;

}

.left-control {
    background-color: #2B2B2B;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.right-control {
    background-color: #E0201C;
    cursor: pointer;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;

}

.Footer {
    background-color: #3E3E3E !important;
    background: url('../src/assets/Images/FooterBack.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5%;
}

.FooterInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Footer-section {
    flex: 1;
    min-width: 280px;
    margin: 3% 2%;
}

.FooterLogo {
    width: 60%;
    cursor: pointer;
}

.FooterLogo img {
    width: 100%;
}

.Footer-desc {
    color: #A1A1A1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 4%;

}

.Footer-heading {
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.EmailInput {
    background-color: #2B2B2B;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 4%;
}

.inputForEmail {
    flex: 65%;
    background-color: transparent;
    padding: 10px 5px;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

.inputForEmail::placeholder {
    font-size: 16px;
    font-weight: 500
}

.emailSubmit-btn {
    flex: 35%;
    background-color: #E0201C;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.Social-section {
    margin-top: 15%;
}

.SocialIconsDiv {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;

}

.Social-icon-img {
    width: 35px;
    cursor: pointer;
}

.Social-icon-img img {
    width: 100%;
}